html {
  margin: 0;
  padding: 0;
  font-family: Avenir;
}
.current {
  background-color: #000531;
  color: white;
}
.nav {
  list-style-type: none;
  text-decoration: none;
}
.nav li {
  display: inline-block;
}
.nav-top {
  font-size: 1.25rem;
}
